.assistant-container {
    /* width: 40vw; */
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;
    position: fixed;
    bottom: 30px;
    left: 50px;
    display: flex;
    gap: 50px;

    background-color: var(--pastel-yellow);
    box-shadow: 0 0 10px black ;

    border-radius: 100px;
    padding: 10px;

    transition: all 0.3s ease;
    overflow: hidden;
}
.extended {
    width: 40vw;
    /* height: 4vw; */
}

.assistant-image-container {
    width: 80px;
    height: auto;

    border-radius: 60px;
}

.pulse {
    width: 80px;
    height: 80px;
    /* background-color: var(--mint); */
    background-color: #2f5c72;
    position: relative;

    border-radius: 50px ;

    animation: pulse 1.5s infinite;
}
.pulse::before {
    content: "";
    width: 75px; 
    height: 75px;
    background-color: var(--pastel-yellow) ;
    border-radius: 50%; 
    position: absolute;
    top: 2.5px; 
    left: 2.5px;
}

.assistant-image {
    width: 80px; 
    height: 100%; 
    object-fit: contain;
    
}

.img-rltv {
    position: relative;
    /* margin-bottom: 80px; */
    bottom: 80px;
}

.assistant-info-container {
    margin: 0;
    padding-bottom: 50px;
    overflow: hidden;

    opacity: 0;
}

.hidden {
    display: none;
}

.assistant-info-container:not(.hidden) {
    opacity: 1;
    animation: fadeIn .3s forwards;
}

.assistant-modal {
    width: 80vw;
    height: 80vh;
    background-color: var(--pastel-yellow);
    overflow: auto;

    padding: 20px;
    
    transition: all 1.5s ease-in-out;
}
.assistant-modal::backdrop {
    background-color: black;
    opacity: .3;
}

.assistant-modal-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

/* TASK SIDE */
.task-container {
    width: 30%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid black; */

    overflow: auto;
}

.task-cell {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* border: 1px solid black; */
    padding: 5 10 10 10px;
}
.task-cell:hover {
    background-color: bisque;
}

.task-cell h1 {
    
    margin: 5px 0;
}

.task-cell p {
    width: 85%;
    height: 45%;
    font-weight: normal;
    font-size: 0.8rem;

    margin: 0px 0;
    /* border: 1px solid black;  */

}

/* DESCRIPTION SIDE */
.desc-container {
    width: 70%;
    height: 100%;

    /* border: 1px solid black; */
}

.header {
    font-size: 1.4rem;
}

.hr-line {
    width: 80%;
    height: 0;

    border: 1px solid black;
    margin: 13px;
}

.vr-line {
    height: 90%;
    width: 0px;

    border: 1px solid black;
}

@keyframes pulse {
    0% {
        transform: scale(.2); /* Initial size */
        opacity: 1;
    }

    100% {
        transform: scale(1.4); /* Back to the initial size */
        opacity: .5;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    1000% { opacity: 1; }
}
